<div class="container mt-5 login-box" style="width: 35rem;">
    <h1 style="color: #00FFFF;"></i>Tahrirlash</h1>
    <form action="/edit/<%= data._id %>" method="POST">
        <div class="mb-3 user-box ">  
        <input type="text" class="form-control" id="namesure" name="namesure" value="<%= data.namesure %>">
        <label for="namesure" class="form-label">Ism Familya</label>
        </div>
        <div class="mb-3 user-box">        
            <input type="tel" class="form-control" id="number" name="number" value="<%= data.number %>">
            <label for="number" class="form-label">Telefon raqami</label>
        </div>
        <div class="mb-3 user-box">
            <input type="text" class="form-control" id="adress" name="adress" value="<%= data.adress %>">
            <label for="adress" class="form-label">Manzil</label>
        </div>
        <div class="mb-3 user-box">
            <input type="datetime-local" class="form-control" id="date" name="date" value="<%= data.date %>">
            <label for="date" class="form-label">Sana</label>
        </div>
        <div class="mb-3 user-box">
            <input type="text" class="form-control" id="mastername" name="mastername" value="<%= data.mastername %>">
            <label for="mastername" class="form-label">Ustaning ismi</label>
        </div>
        <div class="mb-3 user-box">
            <input type="number" class="form-control" id="cost" name="cost" value="<%= data.cost %>">
           <label for="cost" class="form-label">Narxi</label>
        </div>
        <div class="mb-3 user-box ">
        
            <input list="ordername" name="ordername" value="<%= data.ordername %>">
            <datalist id="ordername">
              <option value="Santexnik">
              <option value="Elektirik">
              <option value="Plotnik">
            </datalist>
            <label>Kim kerak:</label>
        </div>
    <button type="submit">Qo'shish</button>
    </form>
</div>

