<%- include('../partial/navbar') %>



<table  class="table table-dark table-hover mt-5">
    <thead>
      <tr>
        <th scope="col" style="color: #00FFFF;">№</th> 
        <th scope="col" style="color: #00FFFF;">Ismi Familyasi</th>
        <th scope="col" style="color: #00FFFF;">Telefon raqami</th>
        <th scope="col" style="color: #00FFFF;"> Manzil</th>
        <th scope="col" style="color: #00FFFF;">Kun</th>
        <th scope="col" style="color: #00FFFF;">Soat</th>
        <th scope="col" style="color: #00FFFF;">Ustaning Ismi</th>
        <th scope="col" style="color: #00FFFF;">Buyurtma Nomi</th>
        <th scope="col" style="color: #00FFFF;">Buyurtma turi</th>
        <th scope="col" style="color: #00FFFF;">Narxi</th>
        <th scope="col" style="color: #00FFFF;">Keshbek(F.Q.P)</th>
        <th scope="col" style="color: #00FFFF;">Tahrirlash</th>
        <th scope="col" style="color: #00FFFF;">O'chirish</th>
      </tr>
    </thead>
    <tbody>
      <% clients.forEach((item, index) =>  { %>
      <tr>
        <th style="color: #00FFFF;"><%= index + 1 %></th>
        <td style="color: #099FFF;"><%= item.namesure %></td>
        <td style="color: #00FF00;"><%= item.number %></td>
        <td style="color: #FD1C03;"><%= item.adress %></td>
        <td style="color: #FFFF33;"><%= item.day %></td>
        <td style="color: #FFFF33;"><%= item.time %></td>
        <td style="color: #CC00FF;"><%= item.mastername %></td>
        <td style="color: #FF00FF;"><%= item.ordername %></td>
        <td style="color: #FF00FF;"><%= item.ordertype %></td>
        <td style="color: #00FF66;"><%= item.cost %> so'm</td>
        <td style="color: #00FF00;"><%= item.cost / 10 %> so'm</td>
        <td><a href="/edit/<%= item.id%>" class="btn btn-success btn-sm">Tahrirlash</a></td>
        <td><a href="/delete/<%= item.id%>" class="btn btn-danger btn-sm">O'chirish</a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
